<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>New account created </title>
    <style> {{css}} </style>
  </head>
  <body>
    <div class='header'> IE Network Solutions </div>
    <div class='container'>
      <img
        class='logo'
        src='https://www.ienetworksolutions.com/wp-content/uploads/2023/04/Dark-Background-new1-1.png'
        alt='IE Network Solutions logo'
      />
      <p class='message'>
        Hi
        <b>{{fullName}}</b>, Congratulations! You've been granted access to the IE Networks Learning Management System.
      </p>
      <h1 class='password'><b>{{password}}</b></h1>
      <p class='code'>This is your default password and your username will be your email address.
        <strong>Do not forward or give this code to anyone.</strong></p>
      <div class='regards'>
        <p>Happy learning !</p>
        <p>The IE Network Solutions </p>
      </div>
      <a class='button' href='http://localhost:3000'>Log In Now</a>
    </div>
    <footer>
      &copy; IE Network Solutions
    </footer>
  </body>
</html>