<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>security alert</title>
    <style> {{css}} </style>
  </head>
  <body>
    <div class='header'>IE Network Solutions</div>
    <div class='container'>
      <img
        class='logo'
        src='https://www.ienetworksolutions.com/wp-content/uploads/2023/04/Dark-Background-new1-1.png'
        alt='IE Network Solutions logo'
      />
      <p class='message'>
        Hi
        <b>{{fullName}}</b>, You've successfully changed the password of your IE Networks LMS account.
      </p>
      <p>
        <strong>Didn't do this?</strong>
        Be sure to
        <a href=''>change your password</a>
        right away. Thanks for helping us keep your account secure.
      </p>
      <div class='regards'>
        <p>Happy learning !</p>
        <p>The IE Network Solutions </p>
      </div>
      <a class='button' href='http://localhost:3000'>change password</a>
    </div>

    <footer>&copy; IE Network Solutions</footer>
  </body>
</html>