<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Verification Code</title>
    <style> {{css}} </style>
  </head>
  <body>
    <div class='header'>IE Network Solutions</div>
    <div class='container'>
      <img
        class='logo'
        src='https://www.ienetworksolutions.com/wp-content/uploads/2023/04/Dark-Background-new1-1.png'
        alt='IE Network Solutions logo'
      />
      <p class='message'>
        Hi
        <b>{{fullName}}</b>, We received a request to reset the password on your IE Network Solutions LMS account.
      </p>
      <h1 class='password'><b>{{code}}</b></h1>
      <p class='code'>Enter this code to complete the reset.</p>
      <p>
        If you did not request this code, it is possible that someone else is trying to access your account.
        <strong>Do not forward or give this code to anyone.</strong>
        Thanks for helping us keep your account secure.
      </p>
      <div class='regards'>
        <p>Happy learning !</p>
        <p>The IE Network Solutions </p>
      </div>
      <a class='button' href='http://localhost:3000'>Reset Now</a>
    </div>
    <footer>
      &copy; IE Network Solutions.
    </footer>
  </body>
</html>